.clear {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

    .clear__icon {
        position: relative;
        display: block;
        width: 16px;
        height: 16px;
        text-decoration: none;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
        .clear__icon:before,
        .clear__icon:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: block;
            margin: auto;
            transform: rotate(45deg);
            background: #2C3544;
            border-radius: 1px;
            transition: background-color .1s ease-out;
        }

        .clear__icon:before {
            width: 12px;
            height: 2px;
        }

        .clear__icon:after {
            width: 2px;
            height: 12px;
        }

        .clear:hover .clear__icon:before,
        .clear:hover .clear__icon:after {
            background-color: #FFFFFF;
        }