.lot {

}
    .lot__owner {

    }

    .lot__menu {
        margin: 30px 0 0;
    }
        .lot__operations {

        }
            .lot__action {
                margin: 15px 0 0;
            }

            .lot__action:first-child {
                margin-top: 0;
            }

        .lot__filter {
            margin: 30px -20px 0;
            border-top: 1px solid #202733;
            padding: 30px 20px 0;
        }

    .lot__responds {
        margin: 30px 0 0;
    }

    .lot__more {
        margin: 30px 0 0;
    }