/* override */

@media (min-width: 1024px) {
    .agreement {

    }

    .agreement__section {
        margin: 26px 0 0;
    }

    .agreement__section:first-child {
        margin-top: 0;
    }

    .agreement__title {
        font-size: 16px;
        line-height: 28px;
    }

    .agreement__content {
        margin: 12px 0 0;
    }

}