.profile {
    padding: 36px 0 40px;
}
    .profile__summary {

    }

    .profile__go-premium {
        margin: 30px 0 0;
    }

    .profile__trustworthiness {
        margin: 32px 0 0;
        border-top: 1px solid rgba(153,169,207,.05);
        padding: 25px 0 0;
    }

    .profile__go-premium + .profile__trustworthiness {
        margin-top: 30px;
    }

    .profile__feedback {
        margin: 25px 0 0;
        border-top: 1px solid rgba(153,169,207,.05);
        padding: 24px 0 0;
    }

    .profile__achievements {
        margin: 30px 0 0;
        border-top: 1px solid rgba(153,169,207,.05);
        padding: 30px 0 0;
    }