.tiles {
    display: flex;
    flex-wrap: wrap;
    margin: -20px -10px 0;
}
    .tiles__item {
        box-sizing: border-box;
        flex-basis: 220px;
        padding: 20px 10px 0;
    }

    .tiles__item.unit .unit__overlay {
        top: 20px;
        left: 10px;
        right: 10px;
    }



.tiles_layout_narrow { }
@media                         (max-width: 1579px) { .tiles_layout_narrow .tiles__item { flex-basis: 33.333%; flex-basis: calc(100% / 3); } }
@media (min-width: 1580px) and (max-width: 1819px) { .tiles_layout_narrow .tiles__item { flex-basis: 25%;     flex-basis: calc(100% / 4); } }
@media (min-width: 1820px) and (max-width: 2059px) { .tiles_layout_narrow .tiles__item { flex-basis: 20%;     flex-basis: calc(100% / 5); } }
@media (min-width: 2060px) and (max-width: 2299px) { .tiles_layout_narrow .tiles__item { flex-basis: 16.666%; flex-basis: calc(100% / 6); } }
@media (min-width: 2300px) and (max-width: 2539px) { .tiles_layout_narrow .tiles__item { flex-basis: 14.285%; flex-basis: calc(100% / 7); } }



.tiles_layout_wide { }
@media                         (max-width: 1579px) { .tiles_layout_wide .tiles__item { flex-basis: 20%;     flex-basis: calc(100% / 5); } }
@media (min-width: 1580px) and (max-width: 1819px) { .tiles_layout_wide .tiles__item { flex-basis: 16.666%; flex-basis: calc(100% / 6); } }
@media (min-width: 1820px) and (max-width: 2059px) { .tiles_layout_wide .tiles__item { flex-basis: 14.285%; flex-basis: calc(100% / 7); } }
@media (min-width: 2060px) and (max-width: 2299px) { .tiles_layout_wide .tiles__item { flex-basis: 12.5%;   flex-basis: calc(100% / 8); } }
@media (min-width: 2300px) and (max-width: 2539px) { .tiles_layout_wide .tiles__item { flex-basis: 11.111%; flex-basis: calc(100% / 9); } }
